/bin
/obj
/
/Accounts/bin
/Accounts/obj
/BaseLib/bin
/BaseLib/obj
/Campaigns/bin
/Campaigns/obj
/Captchas/bin
/Captchas/obj
/Emails/bin
/Emails/obj
/Events/bin
/Events/obj
/Friends/bin
/Friends/obj
/Groups/bin
/Groups/obj
/LicensingManager/obj
/LicensingManager/bin
/Messages/obj
/Messages/bin
/Pages/obj
/Pages/bin
/Photos/bin
/Photos/obj
/Proxies/bin
/Proxies/obj
/Scheduler/bin
/Scheduler/obj
/Scrapers/bin
/Scrapers/obj
/Search/bin
/Search/obj
/WallPoster/bin
/WallPoster/obj
docstates
*.vsmdi
*.sdf
*.opensdf
*.log
*.user
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.vsp
*.psess
*.cache
*.testsettings
*~
*.swp
TestResults
credentials.txt